body {
    background-color: #132044;
    font-family: 'Montserrat', 'Open Sans', 'Raleway', 'Roboto', sans-serif;
}

.dropdown-menu {
    background-color: black;
}

.dropdown-menu a {
    color: white;
}

.navbar2-container {
    position: fixed;
    width: 200px;
    height: 100vh;
    background-color: #333;
    color: #fff;
    overflow-y: auto;
    z-index: 100;
    font-family: 'Montserrat', 'Open Sans', 'Raleway', 'Roboto', sans-serif;
}

div .bordered-paragraph {
    font-weight: bold;
    font-size: 20px;
    color: #000000;
}

p.number {
    color: red !important;
}

.move-up {
    margin-top: 300px;
}

div h1 {
    text-align: center;
    margin-top: 55px;
    font-size: 60px;
    margin-left: 0px;
    padding-top: 90px;
    font-weight: bold;
    color: white;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
}

div h2:first-of-type {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    color: white;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
}

.main-content {
    padding-left: 0;
    padding-right: 0;
    margin-left: 200px;
    padding-top: 20px;
    box-sizing: border-box;
    width: calc(100% - 200px);
}

.text-container {
    max-width: 1500px;
}

.nav-bigger {
    font-size: 25px;
}

.seperator {
    height: 1px;
    background-color: white;
    margin-left: 450px;
    margin-right: 450px;
    padding-top: -40px;
}

.img-space {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    background-color: #46458C;
}

.bordered-paragraph {
    border: 1px solid #000000;
    text-align: center;
    display: inline-block;
    margin: 10px;
    box-sizing: border-box;
    padding: 0.01%;
    width: 150px;
    background-color: white;
    margin-bottom: 30px;
    height: 30px;
    font-size: 10px;
}

.background-image {
    background-image: url("p10s_header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -20px;
    height: 370px;
    background-position: 0px -100px;
    position: relative;
}

.pf_des {
    font-size: 40px;
    padding-left: 300px;
    color: white;
}

.pf_des2 {
    padding-left: 300px;
    color: white;
}

.Box {
    display: flex;
    padding-top: 20px;
    padding-left: 300px;
}

.Description {
    border: 1px solid #000000;
    text-align: center;
    display: inline-block;
    margin: 10px;
    box-sizing: border-box;
    padding: 0.01%;
    width: 500px;
    background-color: black;
    margin-bottom: 30px;
    height: 30px;
    font-size: 15px;
    color: white;
    margin-right: 100px;
}

.p10s_spread {
    height: 600px;
    width: 800px;
}

.p10s_wings {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 500px;
    width: 700px;
}

.p10s_bonds {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    margin-top: 20px;
}

.Description_prepull1 {
    font-size: 25px;
    padding-right: 20px;
    padding-top: 8px;
    color: red;
    margin-bottom: 20px;
}

.description_text {
    font-size: 18px;
    margin-top: -15px;
    color: white;
}

.tldr p {
    padding-left: 300px;
    color: white;
}

.tldr p:first-child {
    font-size: 40px;
    margin-bottom: 5px;
}

.strat2 p,
.strat1 p {
    padding-left: 300px;
    color: white;
}

.Description_prepull3 {
    font-size: 25px;
}

.Description_prepull4 {
    font-size: 20px;
    margin-bottom: 80px;
}

#slider2,
#slider,
.wrap,
.slide-content {
    font-family: Arial, Helvetica, sans-serif;
    width: 700px;
    height: 500px;

}

.slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap {
    position: relative;
}

.slide2,
.slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    border-style: solid;
}

.raidplans p {
    color: white;
    font-size: 40px;
    padding-left: 300px;
}

.raidplans a {
    font-size: 20px;
    padding-left: 300px;
}

.mechanicbreak {
    color: white;
    font-size: 50px;
    text-align: center;
    padding: 10px;
    width: 100vw;
    margin-left: -300px;
}

.textmechanic {
    padding-left: 250px;
}

.break1 {
    color: #FFF;
    padding-bottom: 2px;
    margin-top: 20px;
    margin-left: -300px;
}

.break {
    color: #FFF;
    padding-bottom: 2px;
    margin-left: -300px;
}

.break3,
.break2 {
    color: #FFF;
    margin-top: -10px;
    padding-bottom: 2px;
    margin-left: -300px;
}

.hide {
    display: none;
}

.seperator1 {
    height: 1px;
    background-color: white;
    margin: 0;
    margin-left: 145px;
    margin-right: auto;
    width: 75%;
}

#toggle-paragraph1,
#toggle-paragraph,
#toggle-paragraph2 {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 50px;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}

#toggle-paragraph {
    padding-right: 480px;
}

.arrow-icon1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 550px;
}

#toggle-paragraph2 {
    margin-right: 910px;
}

.arrow-icon2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 980px;
}

#toggle-paragraph1 {
    margin-right: 890px;
}

.arrow-icon3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 955px;
}

.carousel-indicators {
    margin-right: 700px;
}

.carousel-inner {
    margin-left: 200px;
}

.carousel-control-prev {
    margin-left: 100px;
}

.carousel-control-next {
    margin-right: 550px;
}

.arrow-wrapper {
    position: relative;
}

.rotate {
    transform: rotate(180deg);
}

.dropdown p:not(:first-child) {
    color: white;
}

#toggle-content3,
#toggle-content2,
#toggle-content1 {
    margin-left: 300px;
    color: white;
}

#toggle-content3 br,
#toggle-content2 br,
#toggle-content1 br {
    margin-bottom: 15px;
    /* Adjust the margin-bottom value as needed */
}

.ffxiv {
    border: 2px grey solid;
    background-color: #0c1633;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -300px;
    color: white;
    margin-top: 150px;
}

.myLicense {
    margin-left: 100px;
    font-size: 13px;
}

.squarelicense {
    font-size: 13px;
}